h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}

body {
    margin: auto;
    width: 40%;
    border: 3px solid #73AD21;
    padding: 15px;
}

.post-form textarea, .post-form input {
    width: 100%;
}





<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: red
        color: white;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>