{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Movie Classification</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="screen">
	

</head>
	<body>

	<h3>Your movie review:</h3>
	
		<div class="field">
            {{review}}
		</div>

	<h3>Which is the correct rating?:</h3>

	<div id='button'>
		<form  action="/thanks/" method="post"> {% csrf_token %}

			<input type=submit value='negative' name='prediction'>
			<input type=submit value='neutral' name='prediction'>
			<input type=submit value='positive' name='prediction'>
			<input type=hidden value='{{ review }}' name='review'>
		</form>
	</div>

	
	</body>
</html>